@define-color surface {{colors.surface.default.hex}};
@define-color surfaceVariant {{colors.surface_variant.default.hex}};
@define-color onSurface {{colors.on_surface.default.hex}};
@define-color onSurfaceVariant {{colors.on_surface_variant.default.hex}};
@define-color primary {{colors.primary.default.hex}};
@define-color secondary {{colors.secondary.default.hex}};
@define-color error {{colors.error.default.hex}};
@define-color outline {{colors.outline.default.hex}};

@define-color foreground @onSurface;
@define-color background @surface;
@define-color color1 @primary;

#window,
#box,
#aiScroll,
#aiList,
#search,
#password,
#input,
#prompt,
#clear,
#typeahead,
#list,
child,
scrollbar,
slider,
#item,
#text,
#label,
#bar,
#sub,
#activationlabel {
  all: unset;
}

#cfgerr {
  background: alpha(@error, 0.4);
  margin-top: 20px;
  padding: 8px;
  font-size: 1.2em;
}

#window {
  color: @foreground;
}

#box {
  border-radius: 20px;
  background: @background;
  padding: 20px;
  border: 2px solid @outline;
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

#search {
  background: @surfaceVariant;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid @outline;
}

#prompt {
  margin-left: 4px;
  margin-right: 12px;
  color: @onSurfaceVariant;
  opacity: 0.6;
}

#clear {
  color: @onSurfaceVariant;
  opacity: 0.9;
}

#password,
#input,
#typeahead {
  border-radius: 10px;
}

#input {
  background: none;
  color: @onSurface;
  caret-color: @onSurface;
}

#spinner {
  padding: 8px;
}

#typeahead {
  color: @onSurfaceVariant;
  opacity: 0.8;
}

#input placeholder {
  opacity: 0.5;
}

child {
  padding: 10px;
  border-radius: 10px;
}

child:selected,
child:hover {
  background: alpha(@color1, 0.4);
}

#icon {
  margin-right: 8px;
}

#label {
  font-weight: 500;
}

#sub {
  opacity: 0.6;
  font-size: 0.8em;
}

#activationlabel {
  background: @secondary;
  color: @surface;
  border-radius: 8px;
  padding: 2px 6px;
}

.aiItem {
  padding: 10px;
  border-radius: 10px;
  color: @foreground;
  background: @background;
}

.aiItem.user {
  padding-left: 0;
  padding-right: 0;
}

.aiItem.assistant {
  background: @surfaceVariant;
}


